.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

img{
  width: 275px;
  height: 183px;
  aspect-ratio: attr(width) / attr(height);
}
form {
  padding: 1rem;
  border: 1px solid rgb(168, 180, 228);
}

.button {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: rgb(168, 180, 228);
  color: black;
  border-radius: 0.7rem;
  text-align: center;
  cursor: pointer;
}

.button:hover {

background-color: rgb(73, 78, 99);
color: white;
}
